.container {
  position: relative;
}
.text-block {
  position: absolute;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  width: 100%; 
  padding: 20px; 
}

.slide {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.slide1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./assets/Active Senior Living Community.jpg");
}

.slide2 {
  background-image: url("./assets/Beachfront Retreat for Vacation.jpg");
}

.slide3 {

  background-image: url("./assets/Luxury Apartment with City Views.jpg");
}

.slide4 {
  background-image: url("./assets/Modern Townhouse in Urban Setting.jpg");
}